* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
.homepage_cont {
  width: 100%;
  padding: 7em 0.5em;

  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.fav_cont {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: 0 auto;
  background: white;
  padding: 1em;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 10;
  border-radius: 20px;
  box-shadow: 0 0 8px 0px black;
}
.fav_cont::-webkit-scrollbar {
  display: none;
}
.filter_spans {
  background: #eef6f6;
  margin: 8px 3px;
  display: inline-block;
  border-radius: 10px;
  padding: 0.2em;
}
.remove_btn {
  background: #5ea6a5;
  display: inline-block;
  padding: 0.3em 0.5em;
  cursor: pointer;
  color: white;
}
.remove_btn:hover {
  background: rgba(22, 21, 21, 0.89);
}
